<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042386127646-g8gkf807dk1hqjp2sdn3s7oqbfbpb0nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042386127646-g8gkf807dk1hqjp2sdn3s7oqbfbpb0nn</string>
	<key>API_KEY</key>
	<string>AIzaSyBzLz-kXAZExRwawW8M5sMADvWKZo8zw4M</string>
	<key>GCM_SENDER_ID</key>
	<string>1042386127646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialautologin</string>
	<key>PROJECT_ID</key>
	<string>socialloginapp-ab8cf</string>
	<key>STORAGE_BUCKET</key>
	<string>socialloginapp-ab8cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042386127646:ios:c9189c6a99c2adfb27170f</string>
</dict>
</plist>